body{
    background-color: #efecec !important;
}

#root{
    background-color: #fff;
    padding-bottom: 2em;
}


.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    }

.container ul{
    padding: 0;
}

.comment {
    display: flex;
    flex-direction: row; 
    font-size: 16px;
    margin-bottom: 10px;
}

.comment .commentLeft{
    padding-right: 5em;
    display: flex;
    flex-direction: column;
    flex: 0.5 ;
}
.comment .commentRight{
    flex: 1 ;
}

.comment.true{
    background-color: #f4ecec;
    padding: 10px;
}

.comment.false{
    padding: 10px;
}



.container .inputContainer{
    display: flex;
    flex-direction: column;   
    margin-bottom: 1em; 
}


.container .inputContainer{
    font-size: 16px;
    
}

label{
    margin-bottom: 0.2em;
}

.inputContainer input{
    padding: 0.3em 0 0.3em 0.3em;
}

.commentInput textarea{
    resize: none;
}

.linkMail{
    color:crimson;
    text-decoration: underline;
}

a#submit{
    text-decoration: none;
    background-color: crimson;
    width: 180px;
    padding: 0.3em;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

a#submit:hover{
    background-color: tomato;
    cursor: pointer;
}

/* .commentInput input{

} */